@import "tailwindcss";

:root {

    --primary: #3451a1;
    --dark: #0d0d0d;
    --light: #f9f9f9;
    --gray: #a6a6a6;
    --highlight: #1c1c1c;
    --soft:#5a5959;
    --font-title: 'Cormorant Garamond', serif;
    --font-body: 'Open Sans', sans-serif;
  }


  h1, h2 {
    font-family: var(--font-title), Helvetica, sans-serif;
    color: var(--primary);
  }
  h3 {
    font-family: var(--font-title), Helvetica, sans-serif;
    
  }
  
  a, button {
      font-family: var(--font-title), Helvetica, sans-serif;
      font-weight: 700;
      color:var(--light)
  }

  
  p, li {
    font-family: var(--font-body), Helvetica, sans-serif;
    color: var(--dark);
  }

  a:hover, button:hover {
    color:var(--gray)
  }